.cabecera {
    background-color: orange;
    height: 150px;
    width: 100%;
    line-height: 270%;
    
    

    

}
.cabecera p {
    text-align: left;
    font-size:50px;
    color:White;
    font-weight:bolder;
    margin-left:50px;
}
.cabecera img {
    float: right;
    height: 100px;
    margin:20px;
    margin-right:70px;

    filter: drop-shadow(3px 3px 0 white) 
            drop-shadow(-3px -3px 0 white);
}